{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my_css.css' %}">

    <title>Hello, world!</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">To-Do List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
          </ul>
          <form class="form-inline my-2 my-lg-0" method="POST">
                {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Add Item" aria-label="Search" name="item">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add to List</button>
          </form>
        </div>
      </nav>

        <br/>
        <div class="container">
            {% block content%}
            {% endblock %}
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.15.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.15.5/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>

  </body>
</html>
{% extends 'base.html' %}

{% block content%}
{% if messages %}
    {% for message in messages%}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            {{ message }}
        </div>
    {% endfor %}

{% endif %}

{% if all_items %}
    <table class="table table-bordered">
    {% for things in all_items %}
    {% if things.completed %}
        <tr class="table-secondary">
            <td class="striker"><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
            <td><center><a href="{% url 'uncross' things.id %}">Uncross</a></center></td>
            <td><center><a href="{% url 'delete' things.id %}">Delete</a></center></td>
        </tr>
        {% else %}
        <tr>
            <td><a href="{% url 'edit' things.id %}">{{ things.item }}</a></td>
            <td><center><a href="{% url 'cross_off' things.id %}">Cross Off</a></center></td>
            <td><center><a href="{% url 'delete' things.id %}">Delete</a></center></td>
        </tr>
        {% endif %}

    {% endfor %}
    </table>
{% endif %}


        
{% endblock %}
{% extends 'base.html' %}

{% block content %}
    {% if item %}

    <form class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="{{ item.item }}"
        value="{{ item.item }}" aria-label="search" name="item">

        <input type="hidden" value="{{ item.completed }}" name="completed">

        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Edit Item</button>
    </form>

    {% endif %}
{% endblock %}